// Header top background-color #340EC1
// Header search background-color #4D25E0



.header_top{
    background-color: #340EC1;
    // height: 60px;
    color: #fff;
    display: flex;
    .container{
        height: 60px;
        flex-basis:60%;
        margin:auto;
        align-items: center;
        display:flex;
        .shipping{
            flex:4;
            opacity: 0.9;
            display: flex;
            align-items: center;
            .desc{
                font-size: 12px;
            }
            .icon{
                font-size: 20px;
                margin-right: 7px;
            }
        }
        .subscribe{
            flex:1;
            background-color: #0D0724;
            height: 40px;
            border-radius: 10px;
            font-size: 12px;
            text-align: center;
            flex-basis: 50px;
            align-items: center;
            display: flex;
            justify-content: center;
            .content{
                // padding-top: 11px;
                .hint {
                    opacity: .8;
                }
                .subscribe_link{
                    text-decoration: none;
                    color: #fff;
                    font-weight: bolder;
                }
            }
        }
    }
}

.header_search_bar{
    background-color: #4D25E0;
    height: 90px;
    color: #fff;
    display: flex;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    .container{
        flex-basis:60%;
        margin:auto;
        display:flex;
        // position: relative;
        align-items: center;
        .logo{
            flex: 1;
            font-size: 27px;
            font-weight: 300;
            // margin: 10px;
            .subLogo{
                font-weight: 500;
            }
        }
        .search_bar{
            flex: 3;
            display:flex;
            // margin-top: 15px;
            justify-content: center;
            align-items: center;
            .dropdown{
                display: flex;
                align-items: center;
                position: relative;
            }
            .btn_dropdown{
                height: 40px;
                background-color: #0D0724;
                color: #fff;
                border-radius: 8px 0 0 8px;
                flex-basis: 104px;
                font-size: 12px;
                margin-right: -4px;
                border-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 11px;
                .icon{
                    display: inline-block;
                    margin: 2px 6px;
                }
            }
            input{
                height: 34px !important;
                flex-basis: 217px;
                padding-left: 7px;
            }
            .icon_search{
                box-sizing: border-box;
                flex-basis: 30px;
                background-color: #fff;
                color: #000;
                height: 38px;
                margin: 0px -1px;
                padding-top: 9px;
                border-radius: 0 8px 8px 0;
                
            }
            .menu{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 36px;
                width: 100%;
                .btn_menu{
                    height: 30px;
                    border-style: none;
                    background-color: #00000094;
                    color: #fff;
                    &:hover{
                        background-color: #000;
                    }
                }
            }
        }
        .account{
            flex:1;
            display: flex;
            justify-content: center;
            // border-right: 1.5px solid #e9e3e373;
            // margin: 20px 0;
            button {
                background-color: transparent;
                color: #fff;
                border-style: none;
                font-size: 15px;
                font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 600;
            }
            .dropdown{
                
                padding: 0 16px;
                flex-basis: 83px;
                position: relative;
                .icon{
                    position: absolute;
                    display: inline-block;
                    margin: 2px 9px;
                }
            }
            .menu{
                display: flex;
                flex-direction: column;
                margin-top: 6px;
                position: absolute;
                width: 69%;
                .btn_menu{
                    color: #fff;
                    background-color: #00000094;
                    height: 30px;
                    &:hover{
                        background: #000;

                    }
                }
            }
        }
        .line{
            content: "";
            width: 1px;
            background: #f9f6f645;
            height: 36px;
            margin-right: 10px;
        }
        .lang{
            // margin-top: 22px;
            display: flex;
            .flag{
                margin: 0 6px;
                display: flex;
                position: relative;
                .icon {
                    background: transparent;
                    color: #fff;
                    border: none
                }
                img{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
                .menu{
                    display: flex;
                    flex-direction: column;
                    margin-top: 6px;
                    position: absolute;
                    top: 23px;
                .btn_menu{
                    background-color: transparent;
                    color: #fff;
                    border-style: none;
                    font-size: 15px;
                    color: #fff;
                    background-color: #00000094;
                    height: 30px;
                    &:hover{
                        background: #000;
                    }
                }
                }
            }
            .cart{
                display: flex;
                .icon{
                    margin-right: 8px;
                }
                span{
                    display: inline-block;
                    margin-right: 5px;
                    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 500;
                }
                .items{
                    background-color: #000;
                    border-radius: 50%;
                    padding: 3px 5px;
                    font-size: 12px;
                    width: 10px;
                    height: 12px;
                    text-align: center;
                }
            }
        }
    }
}



