// Header top background-color #340EC1
// Header search background-color #4D25E0



.header-top{
    background-color: #340EC1;
    height: 60px;
    color: #fff;
    display: flex;
    flex: 1;
    .container{
        flex: 1;
        justify-content: space-around;
        margin:auto;
        align-items: center;
        display:flex;
        width: 65%;
        .shipping{
            // flex:3;
            opacity: 0.9;
            display: flex;
            align-items: center;
            .desc{
                font-size: 12px;
            }
            .icon{
                font-size: 20px;
                margin-right: 7px; // TODO fix
            }
        }
        .subscribe{
            // flex:1;
            background-color: #0D0724;
            height: 40px;
            border-radius: 10px;
            font-size: 12px;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            .content{
                margin: 9px; // TODO fix
                .hint {
                    opacity: .8;
                }
                .subscribe_link{
                    text-decoration: none;
                    color: #fff;
                    font-weight: bolder;
                }
            }
        }
    }
}

.header_search_bar{
    background-color: #4D25E0;
    height: 90px;
    color: #fff;
    display: flex;
    flex: 1;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    .container{
        // flex: 1;
        justify-content: space-around;
        margin:auto;
        align-items: center;
        display:flex;
        width: 65%;
        .logo{
            flex: 1;
            font-size: 27px;
            font-weight: 300;
            display: flex;
            // justify-content: flex-end;
            // margin-right: 89px; // TODO fix
            .subLogo{
                font-weight: 500;
            }
        }
        .search_bar{
            flex: 2;
            display:flex;
            justify-content: center;
            align-items: center;
            .dropdown{
                display: flex;
                align-items: center;
            }
            .btn_dropdown{
                height: 40px;
                background-color: #0D0724;
                color: #fff;
                border-radius: 8px 0 0 8px;
                font-size: 12px;
                margin-right: -4px; // TODO fix
                border-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 11px; // TODO fix
                .icon{
                    display: inline-block;
                    margin: 2px 6px; // TODO fix
                }
            }
            input{
                height: 34px !important;
                flex: 2;
                padding-left: 7px; // TODO fix
            }
            .icon_search{
                box-sizing: border-box;
                background-color: #fff;
                color: #000;
                height: 38px;
                margin: 0px -1px;
                padding-top: 11px; // TODO fix
                border-radius: 0 8px 8px 0;
                padding-right: 11px; // TODO fix
            }
            .menu{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 36px;
                width: 100%;
                .btn_menu{
                    height: 30px;
                    border-style: none;
                    background-color: #00000094;
                    color: #fff;
                    &:hover{
                        background-color: #000;
                    }
                }
            }
        }
        .account{
            flex:1;
            display: flex;
            justify-content: center;
            button {
                background-color: transparent;
                color: #fff;
                border-style: none;
                font-size: 15px;
                font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 600;
            }
            .dropdown{
                flex: 1;
                padding: 0 26px; // TODO fix
                display: flex;
                justify-content: center;    
                .icon{
                    position: absolute;
                    display: inline-block;
                    margin: 2px 9px; // TODO fix
                }
            }
            .menu{
                display: flex;
                flex-direction: column;
                margin-top: 6px; // TODO fix
                position: absolute;
                width: 69%; // TODO fix
                .btn_menu{
                    color: #fff;
                    background-color: #00000094;
                    height: 30px;
                    &:hover{
                        background: #000;
                    }
                }
            }
        }
        .line{
            content: "";
            width: 1px;
            background: #f9f6f645;
            height: 36px;
            margin-right: 10px; // TODO fix
        }
        .lang{
            display: flex;
            flex: 1;
            justify-content: flex-end;
            .flag{
                margin: 0 6px; // TODO fix
                display: flex;
                position: relative;
                .icon {
                    background: transparent;
                    color: #fff;
                    border: none;
                    flex: 1;
                }
                img{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
                .menu{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 28px;
                .btn_menu{
                    background-color: transparent;
                    color: #fff;
                    border-style: none;
                    font-size: 15px;
                    color: #fff;
                    background-color: #00000094;
                    height: 30px;
                    &:hover{
                        background: #000;
                    }
                }
                }
            }
            .cart{
                display: flex;
                .icon{
                    margin-right: 8px; // TODO fix
                }
                .cart-item{
                    display: inline-block;
                    margin-right: 5px; // TODO fix
                    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 500;
                }
                .items{
                    background-color: #000;
                    border-radius: 50%;
                    padding: 0 8px; // TODO fix
                    font-size: 12px;
                    text-align: center;
                    display: flex;
                    align-items: center
                }
            }
        }
    }
}



