@mixin mQ($args...) {
    @if length($args)==1 {
        @media screen and (min-width: nth($args, 1)) {
            @content;
        }
    }

    @if length($args)==2 {
        @media screen and (max-width: nth($args, 1)) and (min-width: nth($args, 2)) {
            @content;
        }
    }
}

.HeroView {
    height: 90vh;
    background-color: #321F96;

    @include mQ(360px, 280px) {
        height: 72vh;
    }

    @include mQ(415px, 361px) {
        height: 55vh;
    }

    @include mQ(1025px, 416px) {
        height: 44vh;
    }

    @include mQ(2280px) {
        height: 60vh;
    }

    .container {
        padding-top: 5%;
        height: 80%;
    }

    .content-container {
        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            @include mQ(374px, 280px) {
                height: 58vh;
                flex: 2;
            }

            @include mQ(415px, 375px) {
                height: 66vh;
            }

            @include mQ(361px, 360px) {
                height: 88vh;
            }

            @include mQ(541px, 540px) {
                height: 55vh;
            }

            @include mQ(1025px, 542px) {
                height: 45vh;
            }

            @include mQ(2280px) {
                height: 32vh;
                justify-content: center;
            }

            .hint {
                color: #d28f84;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 700;
                display: flex;

                @include mQ(768px, 280px) {
                    font-size: 10px;
                }
            }

            .title {
                color: #fff;
                font-size: 57px;
                margin-top: 0;
                margin-bottom: 0;

                @include mQ(282px, 280px) {
                    font-size: 1.2rem;
                }

                @include mQ(768px, 283px) {
                    font-size: 1.5rem;
                }

                @include mQ(1025px, 768px) {
                    font-size: 2.5rem;
                }

                @include mQ(2280px, 1025px) {
                    width: 80%;
                    margin-bottom: 0.67em;
                }
            }

            .desc {
                color: #fff;
                opacity: 0.9;
                font-weight: 100;
                width: 64%;

                @include mQ(282px, 280px) {
                    font-size: 10px;
                }

                @include mQ(768px, 283px) {
                    width: 100%;
                    font-size: 13px;
                    flex: 0.3;
                    display: flex;
                    align-items: center;
                }
            }

            .heroView_mainBtn {
                display: flex;
                flex: .6;
                align-items: center;
                align-self: stretch;

                @include mQ(282px, 280px) {
                    flex: .8;
                }

                @include mQ(768px, 283px) {
                    flex: .3;
                }

                .mainBtn {
                    color: #262929;
                    font-size: 15px;
                    font-weight: 600;
                    height: 46px;
                    background: linear-gradient(90deg, rgba(240, 126, 108, 1) 29%, rgba(228, 89, 58, 0.9668067055923932) 100%);
                    border-radius: 7px;
                    border-style: none;
                    text-decoration: none;
                    display: flex;
                    align-items: center;

                    @include mQ(768px, 280px) {
                        font-size: 12px;
                        height: 40px;
                    }

                    &:hover {
                        opacity: .8;
                    }
                }
            }

            .assistant {
                height: 75px;
                display: flex;

                @include mQ(282px, 280px) {
                    height: 47px;
                }

                &::before {
                    content: "";
                    border-left: 1px solid #e7e7dc38;
                    width: 20px;

                    @include mQ(768px, 280px) {
                        width: 10px;
                    }
                }

                .content-assistant {
                    display: flex;
                    align-items: center;
                }

                img {
                    width: 43px;
                    border: 2px solid #bbb2b2;
                    border-radius: 50%;

                    @include mQ(768px, 280px) {
                        width: 34px;
                    }
                }

                span {
                    font-size: 14px;
                    padding-left: 9px;
                    color: #fff;
                    opacity: .9;
                    font-weight: 400;

                    @include mQ(768px, 280px) {
                        font-size: 11px;
                        padding-left: 5px;
                    }
                }

                .icon {
                    display: flex;
                }
            }
        }

        .mainImg {
            flex: 1;

            @include mQ(768px, 280px) {
                flex: .7;
            }

            img {
                width: 100%;
            }
        }
    }
}