.CategoryList{
    display: flex;
    height: 320px;
    .mid-card{
        margin: 0 5% !important;
        width: auto !important;
    }
    .slider-container{
        display: block;
        .slick-prev, .slick-next {
            background: #968181;
            z-index: 99999;
        }
        .slick-prev {
            left: 0px;
        }
        .slick-next {
            right: 0;
        }
    }
    .card{
        background-color: #F5F4FA;
        display: flex !important;
        min-height: 200px;
        border-radius: 12px;
        .content{
            padding-left: 7%;
            display: flex;
            flex-direction: column;
            .title{
                color: #200E66;
                margin-bottom: 0;
            }
            .desc{
                color: #a7a5c5;
                font-size: 14px;
                margin-top: 4px;
            }
            .mainBtn{
                display: flex;
                flex: 1;
                align-items: center;
                align-self: flex-start;
                a{
                    text-decoration: none;
                    box-sizing: border-box;
                    padding: 0 20px;
                    text-align: center;
                    height: 35px;
                    background-color: #fff;
                    border-radius: 6px;
                    box-shadow: 11px 8px 13px -5px #e0dada;
                    color: #000;
                    font-size: 13px;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .img{
            display: flex;
            align-items: center;
                img{
                width: 73px;
                height: 80%
            }
        }
    }
}
