.dscounts_list {
    height: 68vh;
    overflow: hidden;
    @media (min-width:2280px) {
        height: 44vh;
    }

    .slider_container {
        display: block;
    }

    .discounts_list_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header_title {
            font-size: 29px;
            color: #1c0671
        }

        .all_products {
            font-size: .8rem;
            font-weight: 700;

            a {
                text-decoration: none;
                color: #1c0671
            }
        }
    }

    .discounts_list_body {
        justify-content: space-between;

        .discounts_list_card {
            display: flex !important;
            flex-direction: column;
            box-shadow: 6px 4px 11px 0px #d2c9c975;
            border-radius: 8px;
            width: 12vw !important;
            // margin: auto;
            margin-bottom: 12px;
            padding: 0 12%;
            height: 45vh;

            @media (min-width:2280px) {
                width: 72% !important;
                padding: 0 13%;
                max-height: 32vh;
            }

            .discounts_list_card_content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: 261px;
                flex: 11;

                .flash_deal_wrapper {
                    position: absolute;
                    top: 34px;
                    background-color: #ED67A7;
                    border-radius: 8px;
                    padding: 5px;
                    @media (min-width:2280px) {
                        top: 40px;
                    }

                    .flash_deal {
                        color: #fff;
                        font-size: .9rem;
                        font-weight: 500;
                        display: flex;
                    }
                }

                .discount_product_image {
                    flex: 5;
                    justify-content: center;
                    align-items: center;
                    display: flex;

                    img {
                        max-width: 100%;
                    }
                }

                .discount_product_brand {
                    align-items: flex-end;
                    display: flex;
                    flex: 1;
                    font-size: 12px;
                    color: #b5aeae;
                    font-weight: 500;
                    text-transform: uppercase;

                    @media (min-width:2280px) {
                        font-size: 14px;
                    }
                }

                .body_title {
                    font-size: 13px;
                    color: #230b83;
                    font-weight: 600;
                    text-transform: capitalize;
                    display: flex;
                    flex: 1;
                    align-items: center;
                    max-width: 84%;


                    @media (min-width:2280px) {
                        font-size: 15px;
                    }
                }

                .discount_product_rate {
                    display: flex;
                    align-items: center;
                    flex: 1;

                    .rate_count {
                        font-size: 12px;
                    }

                    .rate_percentage {
                        font-weight: bolder;
                        color: #060661;
                        margin-right: 3px;
                    }
                }

                .discount_product_price {
                    display: flex;
                    align-items: center;
                    font-size: 17px;
                    flex: 1;
                    color: #0b0b90;;
                    font-weight: bolder;

                    @media (min-width:2280px) {
                        font-size: 19px;
                    }

                    .discount_price {
                        flex: 1;
                        font-size: 12px;
                        color: #bdb2b2;
                        text-decoration: line-through;
                        display: flex;
                        padding-left: 8%;
                    }
                }

                .stock_count {
                    font-size: 11px;
                    flex: 1;
                    display: flex;
                    align-items: center;

                    @media (min-width:2280px) {
                        font-size: 15px;
                    }

                    .progress_bar {
                        display: flex;
                        flex: 1;

                        .bar {
                            display: inline-block;
                            flex: 1;
                            margin-right: 4px;
                        }

                        .bar_desc {
                            display: inline-block;
                            flex: 6;
                            font-weight: 500;
                        }
                    }

                    .greenstock {
                        color: #088a3c;
                    }

                    .orangeStock {
                        color: #ffbc00;
                    }


                }
            }

            .discount_amount {
                background-color: #6FE09B;
                display: flex;
                align-items: center;
                align-self: flex-start;
                border-radius: 8px;
                font-size: 1rem;
                // min-height: 28px;
                padding: 0 5px;
                color: #fff;
                flex: 1;
                @media (min-width:2280px) {
                    flex: .8;
                }

                .discount_amount_icon {
                    margin: 5px 5px 0 0px;
                }
            }

        }
    }
}

.slider-container {
    display: block;
}